[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
reliability = "*"
matplotlib = "*"
seaborn = "*"
numpy = "*"
openpyxl = "*"
shapely = "*"
scikit-learn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
